<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h1>Your Expenses</h1>

    <%= form_tag expenses_path, method: :get do %>
      <%= hidden_field_tag :direction, params[:direction] %>
      <%= hidden_field_tag :column, params[:column] %>
      <div class="form-inline">
        <%= text_field_tag :search, params[:search], class: 'form-control' %>
        <%= submit_tag 'Search', class: 'btn btn-primary' %>
        <%= link_to 'Clear Search', params.permit(:column, :direction, :page, :search)
                                          .merge(page: nil, search: nil), 
                                    class: 'btn btn-danger' %>
      </div>
    <% end %>

    <% if @expenses.empty? %>
      <h2>No Expenses Found.</h2>
      <p><%= link_to 'Add an expense', new_expense_path %>.</p>
    <% else %>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th><%= sortable column: 'created_at', title: 'Date' %></th>
              <th><%= sortable column: 'title' %></th>
              <th><%= sortable column: 'amount' %></th>
              <th>Description</th>
              <th></th>
            </tr>
          </thead>
          <% @expenses.each do |expense| %>
            <tbody>
              <tr class="<%= cycle('odd', 'even') %>">
                <td><%= format_time(expense.created_at) %></td>
                <td><%= link_to "#{expense.title}", expense_path(expense) %></td>
                <td><%= number_to_currency(expense.amount) %></td>
                <td>
                  <% if expense.description.empty? %>
                    <em>(No Description)</em>
                  <% else %>
                    <%= expense.description %>
                  <% end %>
                </td>
                <td><%= link_to 'edit', edit_expense_path(expense) %></td>
              </tr>
            </tbody>
          <% end %>
        </table>
      </div>
      <%= will_paginate @expenses %>
    <% end %>
  </div>
</div>