<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
  	<%= link_to "edit", edit_expense_path(@expense), class: 'btn btn-warning' %>
		<h1><%= @expense.title %></h1>

		<div class="expense-details">
			<p>Recorded on: <%= format_time(@expense.created_at) %>
			<p>Price: <%= number_to_currency(@expense.amount) %></p>
			<% if @expense.description.empty? %>
			  <p>Description: <em>(No Description)</em></p>
			<% else %>
			  <p>Description: <%= @expense.description %></p>
			<% end %>
		</div>

	</div>
</div>
